<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome to AnimalPro!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <h1>
      AnimalPro
    </h1>
    <p>This is an example project to showcase the functionality of CTFAuth</p>
  
    <p>
      what's your favorite animal?
    </p>
    <input id="animalText" type="text">
    <button id="verifyBtn">Verify</button>
  </body>
</html>
